/*
 * I have added variables to my styles even though they are not supported
 * in IE 10 or 11, two browsers requested in the assessment. With IE 10
 * and 11, we have to specifically add the value in too so that the styles
 * will fall back to something supported by IE 10 and 11.
 *
 * I still added the variables because I find them to be good reminders
 * that if we make a change in one place, we'll need to be sure to make
 * the update in others as well.
 */

:root {
  --color-xlight-gray: #CCC;
  --color-light-gray: #888;
  --color-gray: #444;
  --color-dark-gray: #333;

  --font-family-default: sans-serif;

  --font-size-default: var(--font-size-med);
  --font-size-sm: 12px;
  --font-size-med: 16px;

  /* This appeared to be the break off point in the video */
  --max-width--all-screens: 518px;

  --spacing-default: var(--spacing-med);
  --spacing-xxxs: calc(var(--spacing-med) * 0.125); /* 2px */
  --spacing-xxs: calc(var(--spacing-med) * 0.25); /* 4px */
  --spacing-xs: calc(var(--spacing-med) * 0.5); /* 8px */
  --spacing-sm: calc(var(--spacing-med) * 0.75); /* 12px */
  --spacing-med: var(--font-size-default); /* 16px */
  --spacing-lg: calc(var(--spacing-med) * 1.5); /* 24px */
}
